<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd ">

	
	<!-- 配置handlerMapping
		DispatcherServlet接收到请求后会参看如下配置信息，然后找到对应的Controller
	-->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	
		<property name="mappings">
			<props>
				<prop key="/hello.do">helloController</prop>
			</props>
		</property>
	</bean>
	
	<bean id="helloController" class="controller.HelloController" />


	<!--视图名hello通过以上配置可以映射到/WEB-INF/jsp/hello.jsp  -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>
